@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid bg-white rounded ">
    <div class="container text-black py-5 mt-5">
        <div class="row">
            <div class="col-md-5">
                <img src="~/img/apps-recursos-humanos.jpg" alt="Alternate Text" height="350" width="400" class="rounded" />
            </div>
            <div class="col-md-7" >
                <h2>Gestión de Recursos Humanos</h2>
                <p>
                    El objetivo fundamental de este software es la gestión del capital humano 
                    de tu empresa o institución.
                </p>Las principales funciones de este software son:</p>
                <ul>
                    <li>Permitir el mantenimiento tanto de empleados, como de cargos y departamentos</li>
                    <li>Generar una serie de informes con el objetivo de poder manejar eficientemente los recursos 
                    de la empresa</li>
                    <li>Brindar un serie de procesos con los cuales poder llevar un mayor control
                    del movimiento de empleados</li>         
                </ul>
                <p>Use el menu de navegación para moverse entre las distintas opciones</p>
            </div>
        </div>
       
    </div>
</div>
